body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .container {
    flex: 1;
  }
  footer {
    flex-shrink: 0;
  }
a {
    text-decoration: None;
    color: black;
    
}
.article{
  transition: 0.3s;
  background-color: aliceblue;
}

.article:hover{
    background: black;
    color: goldenrod;
    transition: 0.3s;
}


.form-label {
    font-weight: bold;
}

.text-gold{
  color: goldenrod;
}

.br-news{
  color: white;

}
.br-news:hover{
  color: goldenrod;
}


#rating-section {
  display: none;
}
#rating-message {
  display: none;
}
#review-section {
  display: none;
}

#index-body{
  display: none;
}