body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .container {
    flex: 1;
  }
  footer {
    flex-shrink: 0;
  }
a {
    text-decoration: None;
    color: black;
    
}
.article{
  transition: 0.3s;

}
.article:hover{
    background: black;
    color: goldenrod;
    transition: 0.3s;
}


.form-label {
    font-weight: bold;
}